@font-face { font-family: Abel; src: url(../fonts/Abel/Abel-Regular.ttf); font-weight: normal; }

@font-face { font-family: OpenSans; src: url(../fonts/Open_Sans/OpenSans-Light.ttf); font-weight: 300; }
@font-face { font-family: OpenSans; src: url(../fonts/Open_Sans/OpenSans-LightItalic.ttf); font-weight: 300; font-style: italic; }
@font-face { font-family: OpenSans; src: url(../fonts/Open_Sans/OpenSans-Regular.ttf); font-weight: 400; }
@font-face { font-family: OpenSans; src: url(../fonts/Open_Sans/OpenSans-Semibold.ttf); font-weight: 700; }
@font-face { font-family: OpenSans; src: url(../fonts/Open_Sans/OpenSans-SemiboldItalic.ttf); font-weight: 700; font-style: italic; }
