@include media-query($on-palm) {
  body {
    padding: 0;
  }
}

h1, h2, h3 {
  background-color: peachpuff;
  border-left: solid 4px orange;
  padding: 4px 0 4px 8px;
  font-family: Abel;
}

.page-link {
  text-transform: capitalize;
  padding: 0 5px;

  @media screen and (min-width: $on-palm) {
    display: inline-block;
  }

  &.visited {
      border-bottom: solid 3px black;
      background-color: peachpuff;
  }
}

ul.posts {
  padding-left: 0;
  margin-top: $spacing-unit;
  text-shadow: none;

  li {
    margin-bottom: $spacing-unit / 2;
    list-style-type: none;
    padding: 8px;
    background-color: #006669;
    text-transform: uppercase;
    font-size: $big-font-size;
    font-family: Abel;

    a {
      color: white;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

@include media-query($on-palm) {
  .page-link {
    height: 1.5;
  }
  body {
    padding: 0;
  }
}
